@import 'flatpickr/dist/flatpickr.min.css';
@import 'izitoast/dist/css/iziToast.min.css';

.goback-link {
  text-decoration: none;
  color: #000;
}

.datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 270px;
  height: 40px;
  margin-bottom: 32px;
  margin-right: 8px;
  padding: 0;
}
.datetime-picker:hover {
  border: 1px solid #000000;
  color: #2e2f42;
  background-color: #ffffff;
}

.datetime-picker:focus {
  border: 1px solid #4e75ff;
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
  border: 1px solid #808080;
}

.start-btn {
  height: 40px;
  width: 75px;
  background-color: #4e75ff;
  border: 1px solid #4e75ff;
  border-radius: 8px;
  color: #ffffff;
  padding: 0;
}

.start-btn:disabled {
  background-color: #cfcfcf;
  border: #cfcfcf;
  color: #989898;
}

.start-btn:hover {
  background-color: #6c8cff;
  color: #ffffff;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
}
